*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    color: green;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: black;
    color: white;
    gap: 20px;
    align-items: center;
}

button{
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.footer{
    background-color: yellow;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}